@model List<Student>

<div class="container">
    <h2 class="text-center">Unassigned Students</h2>
    <div class="table-responsive-sm border rounded">
            <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Grade</th>
                <th scope="col">High School</th>
                <th scope="col">Location</th>
                <th scope="col">Assign Mentor</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Student stu in Model)
                {
                    if(stu.VolunteerId == 4)
                    {
                <tr>
                <th scope="row"><a asp-action="StudentDetails" asp-controller="Student" asp-route-studentId="@stu.StudentId"> @stu.StudentId</a>
                </th>
                <td><a class="text-dark" asp-action="StudentDetails" asp-controller="Volunteer" asp-route-studentId="@stu.StudentId">@stu.FirstName</a></td>
                <td>@stu.LastName</td>
                <td>@stu.Age</td>
                <td>@stu.Grade</td>
                <td>@stu.HighSchool</td>
                <td>@stu.Location</td>
                <td>
                    <form asp-action="AssignVolunteer" asp-controller="Student" asp-route-studentId="@stu.StudentId" >
                        <select id="selectTest" name="volunteerId">
                            @foreach (Volunteer vol in ViewBag.Volunteers)
                            {
                                <option value="@vol.VolunteerId">@vol.FirstName @vol.LastName</option>
                            }
                        </select>
                        <button class="btn btn-success mt-2">Assign Volunteer</button>
                    </form>
                </td>
                <td>
                    <a asp-action="StudentDetails" asp-controller="Student" asp-route-studentId="@stu.StudentId" class="btn btn-info d-inline-block mb-2">Details</a>
                    <form class="d-inline-block" asp-action="Delete" asp-controller="Student" asp-route-studentId="@stu.StudentId">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <a asp-action="Students" asp-controller="Student">See All Students</a>
</div>
